body {
    background-color: hsl(217, 54%, 11%);
}

@font-face {
    font-family: Outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
    font-weight: 300, 400, 600;
}

h2 {
    color: hsl(0, 0%, 100%);
}

hr {
    border-width: 0.001px;
    border-color: hsl(215, 51%, 70%);
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

/* class & id tags */
.avatar {
    border: 1.9px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    float: left;
    width: 11%;
    margin: 5px 18px auto 0;
}

.card-bg {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    position: relative;
    width: 20%;
}

#clock-image {
    float: right;
    position: relative;
    right: 100px;
    
}

#days {
    display: inline;
    float: right;
    margin-top: 0;
}

#ethereum{
    color: hsl(178, 100%, 50%);
    display: inline;
}

#ethereum-icon {
    float: left;
    margin-right: 10px;
}

.Eql-image {
    max-width: 100%;
    height: auto;
}

.frontend {
    font-size: 0.7rem;
}

.j-w {
    color: hsl(0, 0%, 100%);
}

h2:hover, .j-w:hover, a:hover {
    color: hsl(178, 100%, 50%);
}


